.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e3d409;
}

.home-container01 {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
}

.home-container02 {
    flex: 0 0 auto;
    width: 870px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-text {
    font-size: 50px;
    font-style: normal;
    font-family: "Arial";
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.home-text01 {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.home-container03 {
    flex: 0 0 auto;
    width: 324px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-container03 img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    /* Ensure the aspect ratio is maintained */
    width: auto;
    /* Ensure the aspect ratio is maintained */
}

.home-image {
    width: 239px;
    height: 234px;
    object-fit: cover;
}

.home-container04 {
    width: 100%;
    height: 374px;
    display: flex;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: row;
    justify-content: flex-start;
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
}

.home-container05 {
    flex: 0 0 auto;
    width: 534px;
    height: 372px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-container06 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container07 {
    flex: 0 0 auto;
    width: 100%;
    height: 272px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-input {
    width: 100%;
    height: 182px;
    border-style: dashed;
    border-width: 2px;
}

.home-container08 {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.home-button,
.home-button1 {
    width: 45%;
    /* Adjust the width as needed */
    height: 100%;
    background-color: #d23c3c;
    /* Green color for the first button */
    border: none;
    /* Remove border */
    border-radius: 10px;
    /* Apply a nice border radius */
    position: relative;
    overflow: hidden;
    animation-duration: 0.5s;
    /* Adjust animation duration as needed */
    animation-iteration-count: 1;
    animation-timing-function: ease;
    margin: 0 10px;
    font-size: 26px;
    /* Adjust font size */
    text-overflow: ellipsis;
    /* Truncate long text */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow text */
}

.home-button1 {
    background-color: #3cd23c;
    /* Blue color for the second button */
}

/* Animation for fadeInLeft */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation for fadeInRight */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Shine effect */
.home-button::before,
.home-button1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent);
    transition: left 0.5s ease-in-out;
}

/* Shine effect on hover */
.home-button:hover::before,
.home-button1:hover::before {
    left: 100%;
}

/* Shake effect on click */
.home-button:active,
.home-button1:active {
    animation: shake 0.5s ease;
}

/* Keyframes for shake effect */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.home-container09 {
    width: 156px;
    height: 372px;
    display: flex;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
}

.home-container10 {
    width: 534px;
    height: 372px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-container11 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container11>* {
    margin: 0 10px;
    /* Adjust the margin as needed */
}

.home-container11 button {
    padding: 10px 20px;
    /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
}

/* Erase button */
.home-container11 button.erase {
    background-color: #dc3545;
    /* Red color */
    color: #fff;
    /* White text color */
}

/* Start Processing button */
.home-container11 button.processing {
    background-color: #007bff;
    /* Blue color */
    color: #fff;
    /* White text color */
}

.home-container11 button::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: transform 0.4s ease;
    pointer-events: none;
}

.home-container11 button:hover::before {
    transform: translate(-50%, -50%) scale(3);
}

.home-container11 button span {
    position: relative;
    z-index: 1;
}

/* Animation effect for Erase button */
.home-container11 button.erase::before {
    background-color: rgba(255, 255, 255, 0.2);
    /* Adjust background color as needed */
}

/* Animation effect for Start Processing button */
.home-container11 button.processing::before {
    background-color: rgba(255, 255, 255, 0.6);
    /* Adjust background color as needed */
}

.home-text06 {
    align-self: center;
}

.home-container12 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 274px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

#frameCanvas {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.home-container13 {
    width: 100%;
    height: 374px;
    display: flex;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: row;
    justify-content: flex-start;
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
}

.home-container14 {
    flex: 0 0 auto;
    width: 534px;
    height: 372px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-container15 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container16 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 272px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#video-display img {
    max-width: 100%;
    /* Ensure the image does not exceed the container's width */
    max-height: 100%;
    /* Ensure the image does not exceed the container's height */
    object-fit: contain;
    /* Maintain the aspect ratio of the image while fitting within the container */
}

.home-container17 {
    width: 156px;
    height: 372px;
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: center;
    /* Vertically center align */
    align-items: center;
    /* Horizontally center align */
    border-color: rgba(120, 120, 120, 0.4);
    border-style: dashed;
    border-width: 1px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#variableValue {
    font-weight: bold;
    color: #ff0000;
    /* Bright red color */
}

.home-container18 {
    width: 534px;
    height: 372px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-container19 {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button2 {
    margin-left: var(--dl-space-space-fourunits);
    padding: var(--dl-space-space-halfunit);
    background-color: #20e70a;
    border: none;
    /* Remove border */
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.home-button2:hover {
    background-color: #1ab90f;
}

.home-button2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
    transition: left 0.5s ease-in-out;
}

.home-button2:hover::before {
    left: 100%;
}

.home-button2:active {
    transform: translateY(2px);
}

.home-button2:active::before {
    left: -100%;
}

.home-container20 {
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 273px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-footer {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}

.home-container21 {
    width: 445px;
    height: 159px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.home-image1 {
    height: 4rem;
    /* Adjust the height as needed */
    width: auto;
    margin-bottom: var(--dl-space-space-unit);
}

.home-nav {
    width: 100%;
    height: 126px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}

.home-text09 {
    align-self: flex-start;
    padding-bottom: var(--dl-space-space-halfunit);
}

.home-text10 {
    margin-left: 0px;
}

.home-text11 {
    margin-left: var(--dl-space-space-unit);
}

.home-text12 {
    margin-left: var(--dl-space-space-unit);
}

.home-text13 {
    margin-left: var(--dl-space-space-unit);
}

.home-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.home-container22 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-text14 {
    margin-right: 20px;
    /* Adjust spacing between text and icons */
}

.home-icon-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    /* Adjust spacing between icons */
}

@media (max-width: 767px) {
    /* Media queries for smaller screens */
}

@media (max-width: 479px) {
    /* Media queries for even smaller screens */
}